.background-main {
    background-color : #1d2b3a;
    color: white;
    .show_hide {
        margin-top: 20px;
        font-size: 20px;
        font-weight: bold;
        color: white;
        border-bottom: 2px solid gray;
    }

    .account_region{
        //border: 2px solid gray;
        padding: 30px 0px;
        margin-bottom: 20px;
    }

    .input_title {
        font-size: 16px;
        font-weight: bold;
    }

    .input_content,
    .input_password {
        width: 100%;
        font-size: 15px;
        color: white;
        background-color: transparent;
        border:none;
        &:focus { 
            outline: none;
        }
    }
    .input_content {
        margin-bottom: 20px;
    }

    .item_content {
        font-size: 15px;
        color: white;
        background-color: transparent;
    }

    .update_button {
        margin-top: 20px;
        user-select: none;
        background-color: burlywood;
        border-radius: 2px;
        font-size: 15px;
        font-weight: bold;
    }
}

