.background-main {
    background-color : #1d2b3a;
}


.bg-toggle {
    // background-image: linear-gradient(#1d2b3a,#395574);
    background-color : #16212e;
    border-top : rgb(75, 75, 75) solid 1px;
    border-bottom : rgb(75, 75, 75) solid 1px;
}
.bg-toggle-1 {
    background-color : #16212e;
}
.bg-toggle-hover {
    background-image : linear-gradient(#1d2b3a,#395574);
    border-top : rgb(75, 75, 75) solid 1px;
    border-bottom : rgb(75, 75, 75) solid 1px;
}
.bg-toggle-button {
    width: 100%;
    text-align: left;
    border-radius: 10px;
    background-color : #0e151d;
}

.bg-interval {
    background-color: #6c7c8d;
    color : white;
    li {
        padding :0 10px;
    }
}

.mat-button-toggle-group {
    margin-top: 10px;
}

.mat-button-toggle {
    border: 1px solid #f28628;
    border-radius: 4px;
    margin-left: 1px;
    margin-right:1px;
    width: 60px;
    height: 30px;
    font-family: 'Nunito Semibold', sans-serif;
    font-size: 14px;
    font-style: bold;
    ::ng-deep .mat-button-toggle-label-content {
        line-height: 28px;
    }
}



.mat-button-toggle-checked {
    background-color: #6c7c8d;
}

/*
.mat-button-toggle-disabled{
    border: 1px solid #c5c0c7;
    background-color: #e1dde5;
}
*/
