<div class="d-flex background-main">
  <ng-template #login let-modal>
    <div class="dialog-header"> Login </div> 
    <div class="modal-body">
      <div class="alert" [ngStyle]="{'background-color':(errMessage) ? '#eb3700' : ''}"> {{errMessage}} </div>
      <div style="padding: 10px 30px;">
        <form class="input-form" >
          <div class="login_labels">Username</div>
          <mat-form-field class="login-inputs">
            <input #loginUsername matInput>
          </mat-form-field>
          <div class="login_labels">Password</div>
          <mat-form-field class="login-inputs">
            <input #loginPassword matInput type="password">
          </mat-form-field>
          <div class="forgot-password" (click)="openModal(resetpwd); modal.dismiss('Cross click');"> Forgot Password ? </div>
          <div class="login-button" (click)="onLogin(loginUsername.value, loginPassword.value)"> Login </div>
          <div class="register-button" (click)="openModal(register); modal.dismiss('Cross click');"> Register </div>
        </form>
      </div>
    </div>
  </ng-template>
  <ng-template #register let-modal>
    <div class="dialog-header"> Register </div> 
    <div class="modal-body">
      <div class="alert" [ngStyle]="{'background-color':(errMessage) ? '#eb3700' : ''}"> {{errMessage}} </div>
      <div style="padding: 10px 30px;">
        <form class="input-form" >
          <div class="regiter_labels">Email Address</div>
          <mat-form-field class="register-inputs">
            <input #registerEmail matInput>
          </mat-form-field>
          <div class="regiter_labels">Username</div>
          <mat-form-field class="register-inputs">
            <input #registerUsername matInput>
          </mat-form-field>
          <div class="regiter_labels">Password</div>
          <mat-form-field class="register-inputs">
            <input #registerPassword matInput type="password">
          </mat-form-field>
          <div class="regiter_labels">Confirm Password</div>
          <mat-form-field class="register-inputs">
            <input #confirmPassword matInput type="password">
          </mat-form-field>
          <div class="register-button_full" (click)="onRegister(registerUsername.value, registerEmail.value, registerPassword.value, confirmPassword.value)"> Register Now</div>
        </form>
      </div>
    </div>
  </ng-template>
  <ng-template #resetpwd let-modal>
    <div class="dialog-header"> Reset Password </div> 
    <div class="modal-body">
      <div class="alert" [ngStyle]="{'background-color':(errMessage) ? '#eb3700' : (alertMessage) ? '#28a745' : ''}"> 
        {{errMessage }} {{alertMessage}} 
      </div>
      <div style="padding: 0px 30px;">
        <form class="input-form" >
          <div style="margin: 0px 18px 10px 18px; text-align: center"> Please enter your email address to request a password reset. </div>
          <div class="reset_labels">Email Address</div>
          <mat-form-field class="reset-inputs">
            <input #emailaddr matInput>
          </mat-form-field>
          <div class="request-button" (click)="resetPassword(emailaddr.value)"> Reset Password</div>  
          <hr>
          <div class="reset_labels">Verification Code</div>
          <mat-form-field class="reset-inputs">
            <input #vcode matInput>
          </mat-form-field>
          <div class="reset_labels">New Password</div>
          <mat-form-field class="reset-inputs">
            <input #newpsss matInput type="password">
          </mat-form-field>
          <div class="reset_labels">Confirm Password</div>
          <mat-form-field class="reset-inputs">
            <input #repeatpass matInput type="password">
          </mat-form-field>
          <div class="request-button" (click)="changePassword(vcode.value, newpsss.value, repeatpass.value)"> Change Password </div>
        </form>
      </div>
    </div>
  </ng-template>
  <mat-sidenav-container class='sidenav-container'>
    <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
    >
      <mat-nav-list >
        <img src="./assets/MOLK_Logo.png" alt="LOGO" class="res_logo">
        <h2 style="text-align: center; margin-bottom: 20px;">MOBILINK</h2>
        <h5 style="text-align: center; margin-bottom: 8px; height: 25px; color: ce4b0a">{{userInfo.username}}</h5>
        <a mat-list-item routerLink=""  [ngClass]="pageName=='home'?'focus':''">
          <i class="fa fa-pie-chart"></i>
          &nbsp;&nbsp;Portfolio
        </a>
        <a mat-list-item routerLink="/wallet" [ngClass]="pageName=='wallet'?'focus':''">    
          <i class="material-icons">account_balance_wallet</i>
          &nbsp;&nbsp;Wallet
        </a>
        <a mat-list-item routerLink="/exchange" [ngClass]="pageName=='exchange'?'focus':''">  
          <i class="fa fa-exchange"></i>
          &nbsp;&nbsp;Exchange
        </a>
        <!--<a mat-list-item routerLink="/backup" [ngClass]="pageName=='backup'?'focus':''">      
          <i class="material-icons">backup</i>
          &nbsp;&nbsp;Backup
        </a>-->
        <a mat-list-item routerLink="/chart" [ngClass]="pageName=='chart'?'focus':''">      
          <i class="material-icons">show_chart</i>
          &nbsp;&nbsp;Price Chart
        </a>
        <a mat-list-item routerLink="/assets" [ngClass]="pageName=='assets'?'focus':''">      
          <i class="fa fa-plus-square"></i>
          &nbsp;&nbsp; Assets
        </a>
        <a mat-list-item routerLink="/settings" [ngClass]="pageName=='settings'?'focus':''" [ngStyle]="{'display': !userInfo.bLogined? 'none' : ''}">      
          <i class="fa fa-cogs"></i>
          &nbsp;&nbsp; Settings
        </a>
        <a mat-list-item routerLink="/admin" [ngClass]="pageName=='admin'?'focus':''" [ngStyle]="{'display': !userInfo.bLogined? 'none' : ''}">      
          <i class="fa fa fa-user-circle-o"></i>
          &nbsp;&nbsp; Admin
        </a>
        <div class="fixed-bottom bottom-menu">
            <!-- <a mat-list-item href="/setting">      
              <i class="fa fa-sliders"></i>
              &nbsp;&nbsp;Setting
            </a> -->
            <a mat-list-item (click)="openModal(login)">                 
              <i [ngClass]="userInfo.bLogined?'fa fa-unlock':'fa fa-lock'"></i>
              &nbsp;&nbsp;{{userInfo.bLogined? 'Logout' : 'Login'}}
            </a>
        </div>
      
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>
</div>